---

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Taran's Printing Legion page fr</title>
	</head>
	<body>
		<h1>Taran's Printing Legion page fr</h1>
        <p>
            Im an aussie printer
        </p>
        <p>
            I have a Bambu A1 + AMS
        </p>
        <p>
            list of prints i've done to date:
            <ul>
                <li>Mittal1</li>
                <li>Praymantis</li>
                <li>Way too many nfc keychains</li>
            </ul>
        </p>
        <br>
        <p>join #taran-does-stupid-things fr fr. I do stupid things a lot</p>
        <p><a href="dev.taranium.xyz">Here is my personal site(if I have been finally bothered to make it)</a></p>
        <p>
            Undead Unluck is peak fiction. You cannot change my mind
        </p>
	</body>
</html>
